@model GestorProductoBack.Model.Proveedor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Borrar Proveedor</h4>

<h3>Seguro que desea Borrar Proveedor?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Password)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-danger btn-lg">
                <i class="bi bi-save"></i> Borrar
            </button>
        </div>
        <br />
        <div>
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
