@model GestorProductoBack.Model.Proveedor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Detalles Proveedor</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoProveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProveedor }) |
    @Html.ActionLink("Volver", "Index")
</p>
