@model IEnumerable<GestorProductoBack.Model.Proveedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>PROVEEDOR</h4>

<p>
    @Html.ActionLink("Crear Proveedor", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoProveedor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.IdProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoProveedor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdProveedor }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Detalle", "Details", new { id = item.IdProveedor }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdProveedor }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
