@model IEnumerable<GestorProductoBack.Model.GuardarT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MOVIMIENTO BODEGA</h2>

<p>
    @Html.ActionLink("Crear movimiento", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTransaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechachaTransaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdBodegaOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdBodegaDestino)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechachaTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBodegaOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBodegaDestino)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdTransaccion }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.IdTransaccion }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.IdTransaccion }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
