@model GestorProductoBack.Model.Producto

@{
    ViewBag.Title = "Details";
}

<h4>Detalle Producto</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVentaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVentaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bodega.NombreBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodega.NombreBodega)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Volver", "Index")
</p>
