@model IEnumerable<GestorProductoBack.Model.Producto>

@{
    ViewBag.Title = "Index";
}

<h4>PRODUCTO</h4>

<p>
    @Html.ActionLink("Crear Producto", "Create")
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CostoProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVentaProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bodega.NombreBodega)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVentaProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bodega.NombreBodega)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdProducto }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.IdProducto }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdProducto })
            </td>
        </tr>
    }

</table>
