@model GestorProductoBack.Model.Bodega

@{
    ViewBag.Title = "Delete";
}

<h4>Borrar Bodega</h4>

<h3>Esta seguro que desea Borrar esta bodega?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartamentoBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartamentoBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadBodega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadBodega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="BORRAR" class="btn btn-default" /> |
            @Html.ActionLink("VOLVER", "Index")
        </div>
    }
</div>
