@model IEnumerable<GestorProductoBack.Model.Bodega>

@{
    ViewBag.Title = "Index";
}

<h4>BODEGA</h4>

<p>
    @Html.ActionLink("Crear Bodega", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiudadBodega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.IdUsuario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.IdUsuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdBodega }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.IdBodega }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdBodega })
            </td>
        </tr>
    }

</table>
